body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
header {
    background: url('images/header.jpg') center no-repeat;
    
    height:350px;
    background-size: cover;
}
header h1{
    color: white;
    text-align: center;
    padding: 150px;
    margin: 0;
}
.content {
    width: 60%;
    float: left;
    margin-bottom: 15px;
}
aside {
    margin-left: 70%;
    margin-top: 15px;
    padding-top: 5px;
}
aside img{
    width: 70%;
}
article{
    padding-left:60px;
}
img{
    width:100%;
}
p{
    text-wrap:normal;
    text-align:justify;
}
button {
    background-color: #ec5353;
    border-radius: 20px;
    color: white;
    border: none;
    height: 35px;
    width: 100px;
    cursor: pointer;
}